RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f

# it gets beautiful here. Please maintain app. 
RewriteRule ^(.+)$ index.php?app=$1 [QSA,L]